@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-4">
    <h1 class="display-3">Welcome to the Booklist Web Application</h1>
    <p class="mt-4">This is a simple booklist web application made with Razor pages that has a CRUD functionality. I created this app using Visual Studio to test my C# and ASP.NET Core that includes the Entity Framework Core to query and apply migrations from Microsoft SQL Server Database and add validations inside the form. For more information, visit <a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-8.0">Microsoft Razor Pages documentation</a></p>
</div>
