@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, pulvinar nisi hac facilisi dignissim quis, suspendisse penatibus integer interdum bibendum nam. Proin fermentum a urna senectus dictum gravida accumsan montes fusce, vestibulum at vulputate ullamcorper himenaeos magna nisl. Justo euismod class risus nulla tempor pharetra curabitur dui cras leo dictumst lobortis malesuada, venenatis eu nascetur nunc ante tristique placerat ridiculus praesent eros rutrum vitae. Enim phasellus eleifend magnis aliquam, natoque mauris.</p>
